mat-toolbar {
  a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    list-style-type: none;
    font-size: 0.9rem;
    padding: 0;

    &.brand-link {
      font-size: 1.4rem;
    }
  }
  & .user-name {
    font-size:0.9rem;
    color: #5cadff;
    margin-left:2rem;
  }

  & i.fa-gamepad {
    margin-right: 1rem;
    font-size: 2rem;
    position: relative;
    top: 0.25rem;
  }

  i.fa {
    margin-left: 0.25rem;
  }
}

.mat-toolbar.mat-primary {
  background: #333;
  color: #fff;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  border-bottom: solid 3px #5cadff;
}

/* All */
nav {
  position: absolute;
  top: 0;
  right: 0;
}

.nav ul {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #333;
}

.nav ul:before,
.nav ul:after {
  content: "";
  display: table;
}

.nav ul:after {
  clear: both;
}

.nav ul > li {
  float: right;
  position: relative;
}

.nav a {
  display: block;
  padding: 4px 20px;
  color: #fff;
  transition: all ease 0.2s;
  font-size: 0.8rem;
  &.active {
    color:#5cadff;
  }
}

.nav a:hover {
  text-decoration: none;
  color: #5cadff;

  & i.spin-right {
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

/* Slide Down
============================== */
.nav ul > li:hover ul li {
  height: 40px;
}

.nav li ul {
  position: absolute;
  left: 0;
  width: 120px;
  top: 40px;
  z-index: 1;
}

.nav li ul li {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 200ms ease-in;
  -moz-transition: height 200ms ease-in;
  -o-transition: height 200ms ease-in;
  transition: height 200ms ease-in;
  float: none;
  font-size: 0.8rem
}
