<mat-toolbar color="primary">
  <mat-toolbar-row>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl">
              <i class="fas fa-gamepad"></i>
              <a class="brand-link" [routerLink]="'/home'"><span>GAME VAULT</span></a>
              <nav class="nav nav3">
                <ul>
                  <li *ngIf="loggedIn">
                    <a>MANAGE <i class="fas fa-cog spin-right"></i></a>
                    <ul>
                      <li><a>SAVE&nbsp;&nbsp;<i class="far fa-save"></i></a></li>
                      <li><a>PULL&nbsp;&nbsp;<i class="fas fa-cloud-download-alt"></i></a></li>
                      <li><a [routerLink]="'/login'">LOGOUT&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i></a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
  </mat-toolbar-row>
</mat-toolbar>
