<mat-card>
  <mat-card-header>
    <div class="rating-block">{{game?.rating}}</div>
    <mat-card-title>{{game?.name | uppercase}}</mat-card-title>
    <mat-card-subtitle>{{game?.genre | uppercase}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="game?.imgPath" [alt]="game?.name">
  <mat-card-content>
    <p>{{game?.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button [title]="game?.favorite ? 'Remove from favorites' : 'Add to favorites'" mat-button>
      <i [ngClass]="{'starred':game.favorite}" class="fas fa-star"></i>
    </button>
    <button title="edit game" mat-button class="edit"><i class="fas fa-edit"></i></button>
    <button title="remove game from collection" mat-button class="negative"><i class="fas fa-trash"></i></button>
  </mat-card-actions>
</mat-card>
