<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{game?.name | uppercase}}</mat-card-title>
    <mat-card-subtitle>{{game?.genre | uppercase}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="game?.imgPath" [alt]="game?.name">
  <mat-card-content>
    <p>{{game?.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><i class="fas fa-check"></i> &nbsp; SAVE</button>
    <button mat-button class="negative"><i class="fas fa-trash"></i> &nbsp; NOT INTERESTED</button>
  </mat-card-actions>
</mat-card>
