.hero-bg {
  background: url('~src/assets/images/game-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.form-container {
  a {
    cursor: pointer;
  }

  & h1 {
    color: #5d5d5d;
  }

  position: relative;
  margin-top: 9rem;
  width: 100%;
  height:auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
  0 3px 1px -2px rgba(0, 0, 0, .2),
  0 1px 5px 0 rgba(0, 0, 0, .12);

  .cancel-x {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  .register-offer {
    position: absolute;
    bottom: 1.5rem;
  }
}
