<div class="hero-bg">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-4">
        <div class="form-container" *ngIf="loggedIn">
          <h1>LOGIN</h1>
          <div class="col-12">
            <mat-form-field>
              <mat-label>USER NAME</mat-label>
              <input
                required
                formControlName="username"
                type="text"
                matInput>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field>
              <mat-label>PASSWORD</mat-label>
              <input
                required
                formControlName="password"
                type="text"
                matInput>
            </mat-form-field>
          </div>
          <div class="col-12 mt-2 mb-3 text-right">
            <button type="submit" class="btn btn-primary btn-sm btn-block">LOGIN</button>
          </div>
          <div class="col-12">
            New to Game Vault? <a (click)="loggedIn = false" class="btn-link">SIGNUP</a>
          </div>
        </div>

        <div class="form-container" *ngIf="!loggedIn">
          <button (click)="loggedIn = true" class="btn btn-secondary btn-sm float-right"><i class="fas fa-times"></i></button>
          <h1>SIGN UP</h1>
          <div class="col-12">
            <mat-form-field>
              <mat-label>USER NAME</mat-label>
              <input
                required
                formControlName="username"
                type="text"
                matInput>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field>
              <mat-label>PASSWORD</mat-label>
              <input
                required
                formControlName="password"
                type="text"
                matInput>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field>
              <mat-label>REPEAT PASSWORD</mat-label>
              <input
                required
                formControlName="repeatPass"
                type="text"
                matInput>
            </mat-form-field>
          </div>
          <div class="col-12 mt-2">
            <button type="submit" class="btn btn-primary btn-sm btn-block">SIGN UP</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
