<div class="container">
  <div class="row mt-3 mx-auto row-cols-4">
    <div class="col">
      <app-game-item></app-game-item>
    </div>
    <div class="col">
      <app-game-item></app-game-item>
    </div>
    <div class="col">
      <app-game-item></app-game-item>
    </div>
    <div class="col">
      <app-game-item></app-game-item>
    </div>
    <div class="col">
      <app-game-item></app-game-item>
    </div>
    <div class="col">
      <app-game-item></app-game-item>
    </div>
    <div class="col">
      <app-game-item></app-game-item>
    </div>
    <div class="col">
      <app-game-item></app-game-item>
    </div>
  </div>
</div>
